.gallery {}

.header {
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 1em;
    padding: 1em 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-family: "Yeseva One", cursive;
}

.header select {
    padding: 0.5em;
    border-radius: 5px;
}

.list-photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
}

.box-photo {
    width: calc((100% - (3 * 0.5em)) / 4);
    position: relative;
}

@media screen and (max-width: 1100px) {
    .box-photo {
        width: calc((100% - (2 * 0.5em)) / 3);
    }
}

@media screen and (max-width: 900px) {
    .box-photo {
        width: calc((100% - 0.5em) / 2);
    }
}

@media screen and (max-width: 600px) {
    .box-photo {
        width: 100%;
    }
}

.photo-information {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.8em;
}

.author {
    font-size: 1.3em;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 66.6%;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.pagination-area {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}