* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 0 2em;
}

@media screen and (max-width: 1100px) {
    .container {
        padding: 0 1em;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 0.5em;
    }
}